<app-header />

<main>

    <div id="jumbotron" class="container view">
        <h1>EHI</h1>
        <h4>Scarica la nostra app e organizzati per i tuoi eventi preferiti</h4>
        <div class="btn-link flex">
            <a href="#" class="btn flex"><i class="fa-brands fa-google-play"></i> Play Store</a>
            <a href="#" class="btn flex"><i class="fa-brands fa-apple"></i> App Store</a>
        </div>
        <div class="jumbotron_img flex">
            <img src="img/hero.png" alt="Jumbotron_image">
        </div>
        <div class="hr"></div>
    </div>

    <div id="live_it_up" class="container view">
        <h1>EHI</h1>
        <h2>LIVE IT UP</h2>
        <h4>Il tuo compagno di concerti ideale!</h4>

        <div class="flex boxes">
            <div class="box flex">
                <div class="box_info">
                    <h3>Tutti gli <span>eventi</span> che<br>ami in un unico luogo</h3>
                    <h5>Segui i tuoi eventi preferiti su un’unica piattaforma</h5>
                </div>

                <img src="img/Search.png" alt="Search">

            </div>
            <div class="box flex">

                <img src="img/Chat_List.png" alt="Event">

                <div class="box_info">
                    <h3><span>Organizzati</span> con<br>tutto il mondo</h3>
                    <h5>Raggiungi e interagisci con persone e amici</h5>
                </div>
            </div>
            <div class="box flex">
                <div class="box_info">
                    <h3>Le <span>informazioni</span> di<br>cui hai bisogno</h3>
                    <h5>Cerca tramite data, luogo, prezzo e categoria</h5>
                </div>

                <img src="img/Event.png" alt="Event">

            </div>
        </div>
    </div>

</main>