<app-header />

<main>
    <div id="jumbotron" class="container">
        <h1>EHI</h1>
        <h3>Scarica la nostra app e organizzati per i tuoi eventi preferiti</h3>
        <div class="btn-link flex">
            <a href="#" class="btn"><i class="fa-brands fa-google-play"></i> Play Store</a>
            <a href="#" class="btn"><i class="fa-brands fa-apple"></i> App Store</a>
        </div>
        <div class="jumbotron_img flex">
            <img src="img/hero.png" alt="">
        </div>
        <div class="hr"></div>
    </div>
</main>