#jumbotron {
    padding-top: 80px;
}

.view {
    height: calc(100% - 100px);

    .btn-link {
        gap: 32px;
        margin-top: 32px;
        justify-content: center;
    }

    .jumbotron_img {
        height: 400px;
        margin-top: 32px;
        justify-content: center;

        img {
            width: 640px;
            height: 100%;
        }
    }

    .hr {
        height: 2px;
        width: 100%;
        margin-bottom: 40px;
        border-radius: 1px;
        background: var(--horizontal-gradient);
    }
}

.boxes {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 40px 0;

    .box {
        width: 340px;
        height: 480px;
        background-color: var(--dark-gray);
        border-radius: 32px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transition: box-shadow 1s;
        cursor: pointer;

        .box_info {
            margin: 40px 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: margin 1s;

            .info_img {
                width: 120px;
                margin-top: -120px;

                img {
                    width: 100%;
                }
            }
        }

        img {
            width: 280px;
            transition: width 1s;
        }

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);

            .box_info {
                margin: 36px 0;
            }

            img {
                width: 300px;
            }
        }
    }

}

.team_members {
    margin: 120px auto 20px;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

    .member_container {
        height: 320px;

        .member {
            width: 200px;
            height: 240px;
            background-color: var(--gray-light);
            border-radius: 64px;
            flex-direction: column;
            align-items: center;
            transition: background-color 1s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.075);
            }

            img {
                width: 128px;
                margin: -64px 0 16px;
            }

            h5 {
                width: 160px;
                padding: 8px;
                margin-top: 16px;
                background-color: var(--violet);
                border-radius: 18px;
            }
        }
    }

}

#team {

    .link {
        justify-content: center;
        gap: 64px;
        margin: 32px auto 16px;
        font-size: 32px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 8px 0;
            border-radius: 24px;
            transition: background-color 1s, padding 1s;

            i {
                transition: color 1s;
            }

            p {
                color: var(--black);
                font-size: 12px;
                overflow: hidden;
                transition: opacity 0.5s, max-width 0.5s ease;
            }

        }


        a:hover {
            background-color: var(--white);
            padding: 8px 32px;

            i {
                color: var(--black);
            }

            p {
                opacity: 1;
                max-width: 200px;
            }
        }
    }

    .hr {
        background: var(--gray-light);
    }
}