:root {
    --black: #121212;
    --dark-gray: #212121;
    --gray: #808080;
    --white: #EEEEEE;
    --gray-light: #ffffff0d;
    --blue: #2196F3;
    --violet: #4527A0;
    --horizontal-gradient: linear-gradient(90deg, #2196F3, #4527A0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: var(--white);
}

body {
    background-color: var(--black);
}

.container {
    width: 80vw;
    margin: 0 auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 120px;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    color: var(--gray);
}

h2 {
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    margin-top: -115px;
}

h3 {
    font-size: 16px;
    text-align: center;
}

.btn {
    background-color: var(--gray-light);
    padding: 12px 40px;
    border-radius: 24px;
    transition: background-color 1s, color 1s;

    i {
        margin-right: 16px;
        transition: color 1s;
        font-size: 20px;
    }

    &:hover {
        background-color: var(--white);
        color: var(--black);

        i {
            color: var(--black);
        }
    }

    i {
        margin-right: 16px;
    }

}