footer {
    .container {
        background-color: var(--dark-gray);
        padding: 40px 64px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;

        .top {
            align-items: center;
            gap: 24px;

            span {
                font-size: 40px;
                font-weight: 900;
                font-style: italic;
            }
        }

        .flex {
            flex-wrap: wrap;

            ul {
                list-style: none;
                margin-right: 160px;

                th {
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: 700;
                    padding: 24px 0;
                }

                li {
                    font-size: 12px;
                    padding: 8px 0;

                    a {
                        transition: font-weight 1s, background-color 1s, color 1s;
                    }

                    a:hover {
                        font-weight: 600;
                    }
                }
            }

            ul:last-child {
                margin-right: 0;
                margin-left: auto;
            }
        }

        h6 {
            text-align: left;
            margin: 8px 0;
        }

    }
}