<footer>
    <div class="container">
        <div class="flex top">
            <a href="#"><img src="logo/Logo.png" alt="Logo" class="logo"></a>
            <span>EHI</span>
            <h5>
                Contattaci anche a:
                <a href="mailto:info&#64;ehiapp.it"><strong>info&#64;ehiapp.it</strong></a>
            </h5>
        </div>
        <div class="flex">
            <ul>
                <th>Company</th>
                <li>
                    <a href="#live_it_up">Live It Up</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
                <li>
                    <a href="#contact">Contattaci</a>
                </li>
            </ul>

            <ul>
                <th>Info</th>
                <li>
                    <a href="https://www.ehiapp.it/termini-condizioni" target="_blank">Termini e Condizioni</a>
                </li>
                <li>
                    <a href="https://www.ehiapp.it/privacy-policy" target="_blank">Privacy Policy</a>
                </li>
                <li>
                    <a href="" target="_blank">Cookies Policy</a>
                </li>
            </ul>

            <ul>
                <th>Join the community</th>
                <li>
                    <a href="#" class="btn flex" target="_blank"><i class="fa-brands fa-google-play"></i> Play Store</a>
                </li>
                <li>
                    <a href="#" class="btn flex" target="_blank"><i class="fa-brands fa-apple"></i> App Store</a>
                </li>
            </ul>
        </div>
        <h6>© 2024 Ehi App. All rights reserved.</h6>
    </div>
</footer>